*{
 margin:0;padding:0;
}
body{
 background:#e6e6fa;
 padding:6px;
}
#songPrint{
 height:75px;
 padding:6px;
 background:#007bff;
 overflow:hidden;
 position:relative;
}
#tracklist{
 background:#007bff;
 margin-top:4px;
 padding:12px 6px 6px;
}
.item{
 color:pink;
 background:black;
 margin-bottom:6px;
 padding:4px;
 border:2px solid pink;
 font-size:16px;
 border-radius:4px;
 user-select:none;
}
#thumbnail{
 image-rendering:pixelated;
 width:75px;
 float:left;
 margin-right:12px;
}
#judulLagu{
 font-size:22px;
 font-weight:bold;
 font-family:fantasy;
 font-style:italic;
}
#artist{
 font-size:14px;
 overflow:hidden;
}
#creator{
 font-size:8px;
 position:absolute;
 right:8px;
 bottom:4px;
 font-style:italic;
 color:#ffffff;
 text-decoration:underline;
}