*{
 margin:0;padding:0;box-sizing:border-box;
}
body{
  background:#2e2e2e;
}
#header{
  width:285px;
  background:gray;
  margin:12px auto;
  padding:8px 0;
  border-radius:22px 0;
  border:2px solid white;
  position:relative;
}
#openBtn,#closeBtn{
  width:24px;
  height:24px;
  float:right;
  position:absolute;
  right:12px;
  top:12px;
}
#closeBtn{
  display:none;
}
#header h1 {
  font-style:italic;
  font-size:22px;
  text-align:center;
  color:white;
  margin:4px 0;
}
.tab{
  width:300px;
  margin:10px auto;
  border:4px solid skyblue;
  overflow:hidden;
  border-radius:12px;
  box-shadow:2px 4px 6px lavender;
}
.tab img{
 width:100%;
 float:left;
}
#header p{
  position:relative;
  left:12px;
  color:white;
  font-size:14px;
  font-family:monospace;
  display:none;
}