@font-face{
 font-family:facon;
 src: url(facon.ttf);
}
*{
 margin:0;padding:0;
}
body{
 background:aliceblue;
}
#header{
 width:100%;
 position:relative;
 overflow:hidden;
 background:antiquewhite;
 box-shadow:2px 0 4px chocolate;
 margin-bottom:22px;
}
#header h1{
 font-size:1.25rem;
 margin:22px 14px 16px;
 font-style:italic;
 font-family:facon;
}
.content{
 width:95%;
 margin:6px auto;
 position:relative;
}
.it{
 width:100%;
 position:relative;
}
.date{
 font-size:0.75rem;
 color:gray;
 text-align:right;
 margin:0 6px 4px 0;
}
.like{
 width:30px;
 position:absolute;
 right:8px;
 bottom:10px;
 display:none;
 box-shadow:1.25px 1.75px 2px white;
}
.des-like{
 width:30px;
 color:white;
 font-size:1.5rem;
 position:absolute;
 right:38px;
 bottom:10px;
 display:none;
 text-align:right;
 text-shadow:1px 1px 2px skyblue;
}
#deklarasi{
width:175px;
background:antiquewhite;
font-size:0.75rem;
text-align:center;
position:absolute;
top:75px;
left:45px;
border-radius:8px;
padding:18px;
padding-bottom:40px;
border:2px solid darkred;
display:none;
}
#cl{
position:absolute;
font-size:0.60rem;
bottom:8px;
right:8px;
float:right;
padding:2px 8px;
background:skyblue;
border:1px solid chocolate;
border-radius:2px;
color:red;
}

@keyframes view{
0%{
 left:-220px;
 top:0;
}
100%{
 left:45px;
 top:75px;
}
}
@keyframes hide{
0%{
 left:45px;
 top:75;
}
100%{
 left:-220px;
 top:25px;
}
}